{extend name="base" /}
{block name="plugcss"}
<link rel="stylesheet" type="text/css" href="__PLUGS__/webuploader/webuploader.css" />
<link rel="stylesheet" href="__ONEUI__/js/plugins/sweetalert2/sweetalert2.min.css">
{/block}
{block name="css"}   
{/block}
{block name="style"}

{/block}
{block name="main"}

<!-- Main Container -->
<main id="main-container">
	<!-- Page Header -->
	<div class="content bg-gray-lighter">
		<div class="row items-push">
			<div class="col-sm-8">
				<h1 class="page-heading">
                                {$actiondb['name']} <small>{$actiondb['alias']}.</small>
                            </h1>
			</div>
			<div class="col-sm-4 text-right hidden-xs">
				<ol class="breadcrumb push-10-t">
					<li><i class="fa fa-fw fa-map-marker"></i></li>
					<li>{$moduledb['name']}</li>
					<li>{$controllerdb['name']}</li>
					<li>
						<a class="link-effect" href="{:url($actiondb['node'])}">{$actiondb['name']}</a>
					</li>
				</ol>
			</div>
		</div>
	</div>
	<!-- END Page Header -->

	<!-- Page Content -->
	<div class="content content-narrow">
		<!-- Simple Wizards -->
		<h2 class="content-heading">设置选项</h2>
		<div class="row">
			<div class="col-lg-12">
				<!-- Simple Classic Wizard (.js-wizard-simple class is initialized in js/pages/base_forms_wizard.js) -->
				<!-- For more examples you can check out http://vadimg.com/twitter-bootstrap-wizard-example/ -->
				<div class="js-wizard-simple block">
					<!-- Step Tabs -->
					<div class="block">
						<div class="block-header bg-gray-lighter">
							<h3 class="block-title">{$actiondb['name']}</h3>
						</div>
					</div>
					<!-- END Step Tabs -->
					<!-- Form -->
					<form id="form" class="js-forms form-horizontal" action="{:url('admin/Menu/inAdd')}" method="post">
						<!-- Steps Content -->
						<div class="block-content tab-content">
							<!-- Step 1 -->
							<div class="tab-pane push-30-t push-50 active" id="simple-classic-step1">
								<div class="form-group">
									<div class="col-sm-10 col-sm-offset-1">
										<label for="site-title">上级菜单</label>
										<select class="js-select2 form-control" id="parent_id" name="parent_id" size="1">											
                                            <option value="">顶级</option>
                                            {volist name="menulist" id="vo"}
                                            <option value="{$vo.id}">{$vo.name}</option>
                                            {/volist}
                                        </select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-10 col-sm-offset-1">
										<label for="name">菜单名称</label>
										<input class="form-control" type="text" id="site-keyword" name="name" placeholder="菜单名称">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-10 col-sm-offset-1">
										<label for="name">图标</label>
										<div class="input-group js-icon-picker">
                                            <span class="input-group-addon icon" data-placement="bottom"><i class="fa fa-fw fa-plus-circle"></i></span>
                                            <input class="form-control icon_input" type="text" id="icon" name="icon" placeholder="icon">
                                            <span class="input-group-addon delete-icon"><i class="fa fa-remove"></i></span>        	
                                        </div>
									</div>
									
									<div class="help-block col-sm-10 col-sm-offset-1">Font Awesome图标 官网：<a href="http://fontawesome.dashgame.com/">http://fontawesome.dashgame.com/</a></div>
								</div>
								<div class="form-group">
									<div class="col-sm-10 col-sm-offset-1">
										<label for="name">菜单说明</label>
										<input class="form-control" type="text" id="site-keyword" name="alias" placeholder="菜单说明">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-10 col-sm-offset-1">
										<label for="name">菜单节点</label>
										<input class="form-control" type="text" id="site-keyword" name="node" placeholder="菜单节点">
									</div>
									<div class="help-block col-sm-10 col-sm-offset-1">请填写 <code>模块/控制器/操作</code>，如：<code>admin/Menu/add</code>,控制器首字母大写</div>
								</div>
								<div class="form-group">
									<div class="col-sm-10 col-sm-offset-1">
										<label for="name">排序</label>
										<input class="form-control" type="text" id="site-keyword" name="order" placeholder="排序 如：100">
									</div>
								</div>
							</div>
							<!-- END Step 1 -->
						</div>
						<!-- END Steps Content -->

						<!-- Steps Navigation -->
						<div class="block-content block-content-mini block-content-full border-t">
							<div class="row">
								<div class="col-sm-10 col-sm-offset-1">
									<button class="btn btn-primary" id="sub" type="submit"><i class="fa fa-check"></i> 提交</button>
									<a href="javascript:history.back();" class="btn btn-default" type="button"><i class="si fa-fw si-action-undo"></i> 返回</a>
								</div>
								<div class="col-xs-6 text-right">
									<!--<button class="wizard-next btn btn-default" type="button">Next <i class="fa fa-arrow-right"></i></button>
									<button class="wizard-finish btn btn-primary" type="submit"><i class="fa fa-check"></i> 提交</button>-->
								</div>
							</div>
						</div>
						<!-- END Steps Navigation -->
					</form>
					<!-- END Form -->
				</div>
				<!-- END Simple Classic Wizard -->
			</div>
		</div>
		<!-- END Simple Wizards -->
		<!--图标模态框-->
		{include file="public/icon" /}
	</div>
	<!-- END Page Content -->
</main>
<!-- END Main Container -->
{/block}
{block name="plugjs"}
<script src="__ONEUI__/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="__ONEUI__/js/plugins/sweetalert2/es6-promise.auto.min.js"></script>
<script src="__ONEUI__/js/plugins/sweetalert2/sweetalert2.min.js"></script> 
<script src="__PLUGS__/layer/layer.js"></script> 
{/block}
{block name="pagejs"}
<script src="__ONEUI__/js/pages/base_ui_activity.js"></script>
<script src="__JS__/menu_add.js"></script>
{/block}
{block name="script"}

{/block}